@model G7_DatabaseFirst.Models.RegisterSubject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegisterSubject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegSubID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
