@model IEnumerable<G7_DatabaseFirst.Models.RegisterSubject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegSubID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegSubID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegSubID })
        </td>
    </tr>
}

</table>
