@model G7_DBFirstNew.Models.Subjects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subjects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectNumOfStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectNumOfStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectCurrentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectCurrentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterSubject_RegSubID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterSubject_RegSubID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
